.Meaning {
  background: white;
  padding: 30px;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.Meaning h3 {
  margin: 0 0 20px;
  font-size: 30px;
  color: #272142;
}

.Meaning .definition {
  font-size: 22px;
  line-height: 1.5;
  color: #272142;
  margin-bottom: 20px;
}

.Meaning .example {
  font-size: 20px;
  font-style: italic;
  color: #888;
  margin-bottom: 20px;
}
